.language{
	display: none;
}
.headder{
	margin: 20px;
	border: 10px solid black;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}
li {
	margin: 20px;
}
.hidden-result {
	display: none;
}
